{
  "openapi": "3.0.1",
  "info": {
    "title": "IDR API",
    "description": "REST API for the Image Data Resource (IDR) - a public repository of reference image datasets from published scientific studies. IDR provides access to high-content screening data, microscopy images, and associated scientific annotations.",
    "termsOfService": "https://idr.openmicroscopy.org/about/",
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://idr.openmicroscopy.org"
    }
  ],
  "tags": [
    {
      "name": "Screens",
      "description": "High-content screening studies"
    },
    {
      "name": "Projects",
      "description": "Non-HCS image dataset collections"
    },
    {
      "name": "Plates",
      "description": "Screening plates containing wells"
    },
    {
      "name": "Datasets",
      "description": "Image dataset containers"
    },
    {
      "name": "Images",
      "description": "Individual images and their metadata"
    },
    {
      "name": "Annotations",
      "description": "Scientific annotations and metadata"
    }
  ],
  "paths": {
    "/api/v0/m/screens/": {
      "get": {
        "tags": ["Screens"],
        "summary": "List all screens",
        "description": "Retrieve a paginated list of all screens (high-content screening studies) in IDR.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of screens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/m/screens/{screen_id}/": {
      "get": {
        "tags": ["Screens"],
        "summary": "Get screen details",
        "description": "Retrieve detailed information about a specific screen.",
        "parameters": [
          {
            "name": "screen_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the screen",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screen details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Screen"
                }
              }
            }
          },
          "404": {
            "description": "Screen not found"
          }
        }
      }
    },
    "/api/v0/m/screens/{screen_id}/plates/": {
      "get": {
        "tags": ["Plates"],
        "summary": "List plates in a screen",
        "description": "Retrieve a paginated list of plates in a specific screen.",
        "parameters": [
          {
            "name": "screen_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the screen",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of plates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlateListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/m/projects/": {
      "get": {
        "tags": ["Projects"],
        "summary": "List all projects",
        "description": "Retrieve a paginated list of all projects in IDR.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/m/projects/{project_id}/": {
      "get": {
        "tags": ["Projects"],
        "summary": "Get project details",
        "description": "Retrieve detailed information about a specific project.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the project",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/api/v0/m/projects/{project_id}/datasets/": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List datasets in a project",
        "description": "Retrieve a paginated list of datasets in a specific project.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the project",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0/m/datasets/{dataset_id}/images/": {
      "get": {
        "tags": ["Images"],
        "summary": "List images in a dataset",
        "description": "Retrieve a paginated list of images in a specific dataset.",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of images",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webgateway/plate/{plate_id}/{field}/": {
      "get": {
        "tags": ["Plates"],
        "summary": "Get plate grid",
        "description": "Retrieve the plate grid structure with wells and images.",
        "parameters": [
          {
            "name": "plate_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plate",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field",
            "in": "path",
            "required": true,
            "description": "Field index (0-based)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plate grid structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlateGrid"
                }
              }
            }
          }
        }
      }
    },
    "/webclient/imgData/{image_id}/": {
      "get": {
        "tags": ["Images"],
        "summary": "Get image metadata",
        "description": "Retrieve detailed metadata about an image including dimensions, channels, and pixel size.",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the image",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageMetadata"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/webclient/api/annotations/": {
      "get": {
        "tags": ["Annotations"],
        "summary": "Get annotations",
        "description": "Retrieve map annotations (key-value metadata) for an object.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Annotation type (map for key-value annotations)",
            "schema": {
              "type": "string",
              "enum": ["map"]
            }
          },
          {
            "name": "screen",
            "in": "query",
            "description": "Screen ID to get annotations for",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "plate",
            "in": "query",
            "description": "Plate ID to get annotations for",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "image",
            "in": "query",
            "description": "Image ID to get annotations for",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webclient/render_thumbnail/{image_id}/": {
      "get": {
        "tags": ["Images"],
        "summary": "Get thumbnail",
        "description": "Retrieve a thumbnail preview of an image.",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the image",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/webclient/render_image/{image_id}/": {
      "get": {
        "tags": ["Images"],
        "summary": "Get rendered image",
        "description": "Retrieve a rendered version of an image.",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the image",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rendered image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Screen": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "integer",
            "description": "Unique identifier"
          },
          "Name": {
            "type": "string",
            "description": "Screen name"
          },
          "Description": {
            "type": "string",
            "description": "Screen description"
          }
        }
      },
      "ScreenListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Screen"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "integer",
            "description": "Unique identifier"
          },
          "Name": {
            "type": "string",
            "description": "Project name"
          },
          "Description": {
            "type": "string",
            "description": "Project description"
          }
        }
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Plate": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "integer",
            "description": "Unique identifier"
          },
          "Name": {
            "type": "string",
            "description": "Plate name"
          }
        }
      },
      "PlateListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plate"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "integer",
            "description": "Unique identifier"
          },
          "Name": {
            "type": "string",
            "description": "Dataset name"
          },
          "Description": {
            "type": "string",
            "description": "Dataset description"
          }
        }
      },
      "DatasetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "integer",
            "description": "Unique identifier"
          },
          "Name": {
            "type": "string",
            "description": "Image name"
          }
        }
      },
      "ImageListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ImageMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Image ID"
          },
          "meta": {
            "type": "object",
            "description": "Image metadata"
          },
          "size": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "z": {
                "type": "integer",
                "description": "Number of Z-slices"
              },
              "c": {
                "type": "integer",
                "description": "Number of channels"
              },
              "t": {
                "type": "integer",
                "description": "Number of timepoints"
              }
            }
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                }
              }
            }
          },
          "pixel_size": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "z": {
                "type": "number"
              }
            }
          }
        }
      },
      "PlateGrid": {
        "type": "object",
        "properties": {
          "grid": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "nullable": true
              }
            },
            "description": "2D grid of wells"
          },
          "collabels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column labels"
          },
          "rowlabels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Row labels"
          }
        }
      },
      "MapAnnotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Annotation ID"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Key-value pairs"
          }
        }
      },
      "AnnotationsResponse": {
        "type": "object",
        "properties": {
          "annotations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapAnnotation"
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Maximum results per page"
          },
          "offset": {
            "type": "integer",
            "description": "Results offset"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of results"
          }
        }
      }
    }
  }
}
